//Begin Keep Footer from floating on short pages:
body{
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

footer{
    margin-top: auto;
}

// End keep footer from floating

.footer-container{
    // background-image: url("{IMG_PREFIX}img/benefits-textured-background-1920.png");
    // background-size: cover;
    // background-position: center;
    // padding: 50px 0;
    background-color: $gray-300;
}

.c-statement{
	line-height: 1;
	font-size: .9rem;
}
