

.content-width {
    max-width: $content-width;
  }
  

  
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .list-inline li {
    display: inline-block;
  }
  
  .hasBg {
    position: relative;
    isolation: isolate;
    .sectionBg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -2;
    }
  }
  
  .overlay {
    position: relative;
    isolation: isolate;
    &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
  }
  // BREAKPOINTS
  
  // MIN  -  These apply when the browser is bigger than the breakpoint
  @include media-breakpoint-up(sm) {
  }
  
  @include media-breakpoint-up(md) {
  }
  
  @include media-breakpoint-up(lg) {
  }
  
  @include media-breakpoint-up(xl) {
  }
  
  // Specific breakpoints  -  These apply when the browser is at a specific breakpoint
  @include media-breakpoint-only(xs) {
  }
  
  @include media-breakpoint-only(sm) {
  }
  
  @include media-breakpoint-only(md) {
  }
  
  @include media-breakpoint-only(lg) {
  }
  
  @include media-breakpoint-only(xl) {
  }
  
  // MAX - These apply when the browser is smaller than the breakpoint
  @media (max-width: 430px) {
  }
  
  @include media-breakpoint-down(xs) {
  }
  
  @include media-breakpoint-down(sm) {
  }
  
  @include media-breakpoint-down(md) {
  }
  
  @include media-breakpoint-down(lg) {
  }
  