//custom color variables---
$brand-primary: #283f4a;
$brand-secondary: #a4c2a5;
$brand-tertiary: #f1f2eb;
$brand-highlight: #fff;
$brand-neutral: #efefef;
$black: black;

//Fonts
$site-font: sans-serif;

//$link-color:;
//$link-hover:;

$content-width: 1200px;
